@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/* title {add newspaper text} */
h1 {
text-align: center;
font-size: 500%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: 'Homemade Apple',cursive;

}
body {
  background-color: #546E7A;
}

p {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-family: 'Homemade Apple',cursive;
  font-size: 200%
}

img {
   margin-left: auto;
  margin-right: auto;
 text-align: center;
  display: block;
  width: 50%;
   /* height:150px;
  overflow: hidden; */
}

  a {
  color:white;
  text-decoration: none;
}

/* .crop {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  height:200px;
  object-fit: cover;
  display: block;
} */
